<template>
  <header class="banner">
    <Head>
      <Title>
        {{ finalTitle }}
      </Title>
      <Meta
        property="og:title"
        :content="fullTitle"
      />
      <Meta
        property="og:image"
        :content="ogImg ?? `/banners/${img}.jpg`"
      />
    </Head>
    <NuxtImg
      v-if="img"
      :src="`/banners/${img}.jpg`"
      alt="a thematic banner"
      sizes="xs:100vw sm:100vw md:100vw lg:100vw xl:100vw xxl:100vw"
      format="webp"
    />
    <div :class="{'text-white': img.startsWith('dark')}">
      <slot>
        <h1>{{ title }}</h1>
      </slot>
    </div>
  </header>
</template>

<script setup lang="ts">
import { onMounted, computed, ref } from 'vue'

const BOT_RE = /bot|crawler|spider|crawling/i
const siteName = 'Silicon Valley Areopagus Forum'

const props = withDefaults(defineProps<{
  title?: string
  pageTitle?: string
  emoji?: string
  img: string
  ogImg?: string
}>(), {
  title: undefined,
  pageTitle: undefined,
  emoji: '',
  img: '',
  ogImg: undefined
})

const prefix = ref('')
onMounted(() => (prefix.value =
  (process.client && navigator.userAgent.match(BOT_RE))
    ? `${props.emoji} `
    : ''))
const providedTitle = props.pageTitle ?? props.title

const text = providedTitle ?? siteName
const suffix = providedTitle ? ` | ${siteName}` : ''
const fullTitle = computed(() => `${props.emoji} ${text}${suffix}`)
const finalTitle = computed(() => `${prefix.value}${text}${suffix}`)
</script>
