<template>
  <div
    :id="data.id"
    class="banner"
  >
    <div
      v-if="data.date"
      class="d-flex flex-wrap w-100 gap-3 justify-content-evenly p-3"
    >
      <div class="w-25rem flex-grow-20">
        <h3>{{ data.title }}</h3>
        <p class="fw-bold">
          {{ $fancyDate(data) }}
        </p>
        <ContentRenderer
          :value="data"
          class="p-bottom"
        />
        <template v-if="isFutureDay(data)">
          <ul>
            <li>
              3:30 pm - 6:00 pm:  Panel Discussion and Audience Q&amp;A
            </li>
            <li>6:00 pm - 8:00 pm: Dinner and Discussion</li>
            <li class="list-style-none">
              Childcare provided
            </li>
          </ul>
          <p>
            <a
              rel="noopener"
              target="_blank"
              :href="data.rsvp"
              class="btn btn-primary"
            >
              RSVP
            </a>
            <a
              v-if="!active && data.youtube"
              :href="`#${data.id}`"
              class="btn btn-primary ms-3"
              role="button"
              @click="autoplay = 1"
            >
              <PlayIcon />
              Watch Live
            </a>
          </p>
        </template>
        <p v-else-if="data.youtube">
          <a
            v-if="!active"
            :href="`#${data.id}`"
            class="btn btn-primary"
            role="button"
            @click="autoplay = 1"
          >
            <PlayIcon />
            Watch Video
          </a>
        </p>
        <p v-else>
          Recording available soon!
        </p>
        <DebugData
          :data="{ data, active, autoplay }"
          :expand-depth="2"
        />
      </div>
      <div class="d-flex flex-wrap gap-3 justify-content-evenly flex-grow-1">
        <PanelistPane
          v-for="p in data.panelists"
          :key="p.name"
          :data="p"
          :event="data"
          class="w-12rem mw-vh-40 flex-grow-1"
          :lazy-image="lazyImages"
        />
      </div>
    </div>
    <div
      v-else
      class="p-3"
    >
      <h3>{{ data.title }}, To be announced…</h3>
    </div>
    <div
      v-if="active"
      class="w-100 position-fixed bottom-0 bg-dark video"
    >
      <div class="bar text-white text-end">
        <a
          class="pe-2 text-white"
          href="#"
          @click.prevent="router.replace(route.path)"
        >
          <CloseIcon />
        </a>
      </div>
      <iframe
        :src="`https://www.youtube.com/embed/${data.youtube}?autoplay=${autoplay}`"
        :title="data.title"
        class="w-100"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
        allowfullscreen
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { PanelEvent } from '~/lib/events'

const props = defineProps<{
  data: PanelEvent
  lazyImages?: boolean
}>()

const isFutureDay = useIsFutureDay()
const autoplay = ref(0)

const route = useRoute()
const router = useRouter()
const active = computed(() => route.hash.replace('#', '') === props.data.id)
</script>

<style scoped lang="scss">
.video {
  height: 100vh;
  z-index: 1;

  .bar {
    height: 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  iframe {
    height: calc(100% - 3rem);
  }
}

@media only screen and (min-device-height: 50rem) {
  .video {
     height: 50vh
  }
}

.banner:nth-of-type(even) {
  background-color: #eeecdf
}
</style>
