<template>
  <main>
    <ContentDoc
      v-slot="{doc}"
      :path="`/pages/${$route.params.path}`"
      :head="false"
    >
      <BannerHeader
        :title="doc.title"
        :img="doc.banner || 'dark/wood'"
      />
      <ContentRenderer :value="doc" />
    </ContentDoc>
  </main>
</template>
