<template>
  <main class="position-absolute w-100 h-vh-100 top-0 bg-dark d-flex align-items-center overflow-hidden">
    <Head>
      <Title>Lost? Return to the Areopagus!</Title>
    </Head>
    <NuxtLink
      to="/"
      class="link"
    >
      <MapMarkerIcon class="marker" />
    </NuxtLink>
    <div class="empty" />
    <img
      alt="map of athens"
      src="/404/athens.jpg"
      class="w-100 h-100 object-fit-cover"
    >
  </main>
</template>

<style scoped lang="scss">
main {
  z-index: 1;
}

img {
  object-fit: cover;
}

.link {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 4rem;
  left: calc(50% - 1.9rem);
  top: calc(50% - 4.6rem);
  color: red;

}

.empty {
  position: absolute;
  width: 0rem;
  height: 3rem;
  left: 50%;
  top: calc(50% - 3rem);
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 30px 15px #fff;
  }
  50% {
    box-shadow: 0 0 30px 35px #fff
  }
}
</style>
