$primary: #644094;
$link-hover-color: #ab8ad5;

@import "bootstrap";

body {
  margin: 0;
  padding: 0;

  /* Use body to make sure we override the bootstrap value */
  a {
    color: #644094;
    text-decoration: none;
  }

  a:hover {
    color: #ab8ad5;
  }

  .btn {
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 3px 5px #aaa;
  }

  .btn:hover {
    border-color: #8059b4;
    background-color: #8059b4;
    box-shadow: 5px 5px 5px #aaa;
  }
  
  .btn:first-child:active {
    border-color: #966dcc;
    background-color: #966dcc;
    box-shadow: 7px 7px 5px #aaa;
  }

  .text-white {
    a {
      color: #bea9db;
    }

    a:hover {
      color: #dcd1eb;
    }

    .btn { // stylelint-disable-line no-descending-specificity
      color: white;
      box-shadow: 3px 3px 5px #444;
    }

    .btn:hover {
      box-shadow: 5px 5px 5px #444;
    }
    
    .btn:first-child:active {
      box-shadow: 7px 7px 5px #444;
    }
  }

  .bg-light.text-muted,
  .bg-light .text-muted {
    /* For increased contrast (and better lighthouse scores) */
    color: #5b666f !important;
  }
}

.p-bottom {
  margin-bottom: 1rem;
}

.h-1lh {
  height: calc(var(--bs-body-line-height) * var(--bs-body-font-size));
}

.h-2lh {
  height: calc(2 * var(--bs-body-line-height) * var(--bs-body-font-size));
}

.h-vh-50 {
  height: 50vh;
}

.h-vh-100 {
  height: 100vh;
}

.mh-vh-50 {
  max-height: 50vh;
}

.w-10rem {
  width: 10rem;
}

.w-12rem {
  width: 12rem;
}

.w-15rem {
  width: 15rem;
}

.w-25rem {
  width: 25rem;
}

.w-30rem {
  width: 30rem;
}

.w-2lh {
  width: calc(2 * var(--bs-body-line-height) * var(--bs-body-font-size));
}

.mw-vh-40 {
  max-width: 40vh;
}

.fs-2lh {
  font-size: calc(2 * var(--bs-body-line-height) * var(--bs-body-font-size));
}

.link-facebook {
  color: #4267B2;
}

.link-facebook:hover {
  color: #617eba;
}

.link-youtube {
  color: #f00;
}

.link-youtube:hover {
  color: #ff5454;
}

.cursor-pointer {
  cursor: pointer;
}

.align-super {
  vertical-align: super;
}

h2 {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .bg-dark;
  @extend .text-white;
  @extend .p-3;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */
}

p:last-child {
  margin-bottom: 0;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-20 {
  flex-grow: 20;
}

ol ol {
  list-style-type: lower-alpha;
}

.list-style-none {
  list-style: none;
}

.banner {
  position: relative;
  width: 100%;
  background-size: cover;

  > img:first-child {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

header.banner {
  padding: ($spacer * 2);
  text-align: center;
  max-height: 50vh;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;

  > h1 {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.infolistset {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .d-flex;
  @extend .flex-wrap;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */
}

.infolist {
  /* stylelint-disable scss/at-extend-no-missing-placeholder */
  @extend .flex-grow-1;
  @extend .px-3;
  /* stylelint-enable scss/at-extend-no-missing-placeholder */
  width: 20rem;
}

/* ICONS */
/* stylelint-disable selector-class-pattern */
.material-bottom-0.material-design-icon > .material-design-icon__svg,
.material-bottom-0 .material-design-icon > .material-design-icon__svg {
/* stylelint-enable selector-class-pattern */
    bottom: 0;
}
