<template>
  <div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
      <NuxtLink
        class="navbar-brand me-auto"
        to="/"
        active-class="active"
      >
        <NuxtImg
          width="585"
          height="500"
          src="/logo-boxes.png"
          sizes="xs:64px"
          format="webp"
          class="h-1lh w-auto"
          alt="Two speech bubbles"
        />
        Silicon Valley Areopagus Forum
      </NuxtLink>
      <ul class="navbar-nav ms-2">
        <li class="nav-item recording">
          <NuxtLink
            class="nav-link text-white"
            active-class="active"
            to="/recordings/"
          >
            <MicrophoneVariantIcon />
            Watch our past discussions
          </NuxtLink>
        </li>
      </ul>
    </nav>

    <!-- content -->
    <slot />

    <!-- footer -->
    <footer class="text-lg-start bg-light text-muted px-3 py-2 d-flex justify-content-between flex-wrap">
      <div class="d-flex">
        <div class="h-2lh w-2lh me-3">
          <NuxtImg
            v-trigger-debug
            width="591"
            height="591"
            src="/logo.png"
            class="h-100 w-auto"
            sizes="xs:64px"
            format="webp"
            alt="The SVAF logo"
          />
        </div>
        <div>
          Silicon Valley Areopagus Forum <i>is a project of</i><br>
          <a
            href="https://svrbc.org/"
            rel="noopener"
            target="_blank"
          >Silicon Valley Reformed Baptist Church</a>
        </div>
      </div>
      <div class="d-flex">
        <!-- This box matches the size of the logo above to line up spacing on
          lines up spacing on small screens -->
        <div class="h-2lh w-2lh me-3" />
        <div class="pe-3">
          <a href="mailto:info@svaforum.org">
            <EmailIcon />
            info@svaforum.org
          </a><br>
          <a
            href="https://svaforum.us20.list-manage.com/subscribe?u=08f5924cf4c5f291cdf6b7a8e&id=0f5b4393b0"
            rel="noopener"
            target="_blank"
          ><EmailNewsletterIcon /> Join the mailing list</a>
          <div v-if="'debug' in $route.query">
            <NuxtLink to="/info/">
              Info for Panelists
            </NuxtLink><br>
            <NuxtLink to="/ops/">
              Info for Organizers
            </NuxtLink><br>
            <a :href="`${origin}/admin/`">Admin</a>
          </div>
        </div>
        <div class="fs-2lh lh-1 material-bottom-0">
          <a
            href="https://www.facebook.com/svareopagus"
            class="link-facebook pe-1"
            rel="noopener"
            target="_blank"
            aria-label="The Silicon Valley Areopagus Forum Facebook page"
          ><FacebookIcon /></a>
          <a
            href="https://www.youtube.com/channel/UCfZSIL7sFDogzt425QvXn3g"
            class="link-youtube"
            rel="noopener"
            target="_blank"
            aria-label="The Silicon Valley Areopagus Forum YouTube channel"
          ><YoutubeIcon /></a>
        </div>
      </div>
    </footer>
  </div>
</template>

<script setup lang="ts">
const origin = useOrigin()
</script>

<style scoped lang="scss">
.recording .active {
  display: none;
}
</style>
