<template>
  <!--
    This page ensures the static image provider generates all the images we
    may need, since some are displayed dynamically with javascript.
  -->
  <main>
    <BannerHeader
      v-for="i in images"
      :key="i"
      :img="i"
    />
    <DebugData
      :data="{ events, images }"
      :expand-depth="1"
    />
  </main>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const events = await queryContent('/events')
  .sort({ id: 1 })
  .find()

const images = computed(() => {
  const images = events.map(e => e.banner ?? 'dark/wood')
  return images.filter((b, i) => images.indexOf(b) === i)
})
</script>
