<template>
  <main>
    <BannerHeader
      title="Discussion Recordings"
      emoji="🎙️"
      img="dark/soundboard"
    >
      <h1>
        <MicrophoneVariantIcon />
        Recordings
      </h1>
    </BannerHeader>
    <h2 class="fs-6 bg-white text-end fst-italic text-white fw-normal">
      Buy truth, and do not sell it (Proverbs 23:23)
    </h2>
    <section>
      <EventPane
        v-for="e, i in events"
        :key="e.id"
        class="banner"
        :class="{even: i % 2}"
        :data="e"
        :lazy-images="i > 1"
      />
    </section>
    <DebugData
      :data="{events}"
      :expanded="true"
    />
  </main>
</template>

<script setup lang="ts">
import { PanelEvent } from '~/lib/events'

const isFutureDay = useIsFutureDay()
const events = (await queryContent<PanelEvent>('/events')
  .sort({ id: -1 })
  .where({ date: { $exists: true, $ne: '' } })
  .find())
  .filter(e => !isFutureDay.value(e))
</script>
